.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 10px;
  grid-gap: 0 10px;
}

.image-list img {
  width: 100%;
  grid-row-end: span 2;
}

.image-card img {
  padding: 10px;
  box-shadow: 2px 2px 9px #eaeaea;
  border-radius: 10px;
}